* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Generics  */
body {
  color: white;
}

header {
  height: 40px;
  justify-content: end;
  background-color: black;
  flex-shrink: 0;
}

main {
  overflow-y: auto;
}

footer {
  height: 80px;
  background-color: #222;
}

a {
  text-decoration: none;
  color: white;
  line-height: 25px;
}

/* Header */

header a {
  margin: 5px 5px;
  padding: 2px 5px;
  background-color: #4c4c4c;
  border-radius: 5px;
}

header a:hover {
  color: lightblue;
}

/* Main  */

.user-section {
  flex-wrap: wrap;
  gap: 5px;
}

.card {
  position: relative;
  height: 140px;
}

.card-user {
  position: absolute;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 100%;
  transform: translate(0, -100%);
  padding: 5px 5px;
}
.card-user span {
  margin-left: 5px;
}
/* Footer  */

.nav-footer {
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.nav-command {
  width: calc(100% / 4);
  align-items: center;
  height: 100%;
}
.nav-command a {
  text-align: center;
  padding: 5px 0;
  line-height: 1;
  margin-right: 5px;
}
.nav-command i {
  font-size: 2rem;
  padding-bottom: 5px;
}

.button:hover i {
  color: green;
}

.nav-command.room {
  flex-grow: 1;
  justify-content: center;
}

.button {
  height: 100%;
  align-items: center;
  margin: 0 10px;
}

.fa-solid.fa-chevron-up {
  font-size: 0.6rem;
}
.fa-solid.fa-share-from-square {
  color: greenyellow;
}
.quit-room {
  justify-content: end;
}
.quit-room a {
  background-color: #4c4c4c;
  line-height: 80px;
  color: red;
  padding: 0 15px;
  margin: 0;
}
/* Utilities  */

.flex {
  display: flex;
}

.debug {
  border: 1px dashed white;
}

.container {
  margin: 20px auto;
  justify-content: center;
  height: calc(100vh - 160px);
}

.wrapper {
  height: 100vh;
  background-color: #000;
}
